* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: hsl(0, 0%, 90%);
}

.main {
  height: auto;
  width: auto;
}

.calc-body {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: hsl(222, 26%, 31%);
}

.calc-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: self-end;
}

.selector {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 15px;
}

.switch {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.button-field {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.switch-field {
  background-color: hsl(223, 31%, 20%);
  height: 30px;
  border-radius: 17px;
  width: 85px;
}

.selector-span {
  color: hsl(0, 0%, 90%);
  font-size: 17px;
  font-weight: 750;
}

.head-p {
  font-size: 20px;
  color: hsl(0, 0%, 90%);
  font-weight: 750;
}

#display {
  grid-column: 1 / -1;
  padding: 10px;
  font-size: 24px;
  text-align: right;
  border: none;
  border-radius: 10px;
  height: 120px;
  width: 100%;
  background-color: hsl(224, 36%, 15%);
  color: hsl(0, 0%, 90%);
  font-size: 40px;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 20px;
  background-color: hsl(223, 31%, 20%);
  height: 420px;
  place-content: center;
  place-items: center;
  border-radius: 10px;
}

button {
  padding: 10px;
  font-size: l8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  height: 55px;
  width: 85px;
  font-size: 25px;
  color: hsl(224, 28%, 35%);
  font-weight: 800;
  border: none;
  outline: none;
}

.delete {
  background-color: hsl(225, 21%, 49%);
  color: hsl(0, 0%, 90%);
  border: none;
  outline: none;
}

.clear {
  background-color: hsl(225, 21%, 49%);
  color: hsl(0, 0%, 90%);
  width: 170px;
  grid-column: span 2;
  border: none;
  outline: none;
}

.equals {
  background-color: hsl(6, 63%, 50%);
  color: hsl(0, 0%, 90%);
  width: 170px;
  grid-column: span 2;
  border: none;
  outline: none;
}

.theme-button {
  height: 10px;
  width: 10px;
  border: none;
  font-size: 15px;
  color: hsl(0, 0%, 90%);
  background-color: transparent;
}

.theme-indicator {
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 40px;
  left: 11px;
  height: 15px;
  width: 15px;
  background-color: hsl(6, 63%, 50%);
}

/* Switching of themes */

/* Switching of theme 1 */

.calc-body.theme-1 {
  background-color: hsl(222, 26%, 31%);
  transition: all 0.5s;
}

.switch-field.theme-1 {
  background-color: hsl(223, 31%, 20%);
}

.buttons.theme-1 {
  background-color: hsl(223, 31%, 20%);
}

.button.theme-1 {
  background-color: hsl(0, 0%, 90%);
  color: hsl(225, 21%, 49%) !important;
  box-shadow: 0 3px 3px 0 hsl(28, 16%, 65%) !important;
}

.display.theme-1 {
  background-color: hsl(224, 36%, 15%);
  color: hsl(0, 0%, 90%);
}

.theme-button.theme-1 {
  color: hsl(0, 0%, 90%);
}

.head-p.theme-1 {
  color: hsl(0, 0%, 90%);
}

.selector-span.theme-1 {
  color: hsl(0, 0%, 90%);
}

.delete.theme-1 {
  background-color: hsl(225, 21%, 49%) !important;
  color: hsl(0, 0%, 90%) !important;
  box-shadow: 0 3px 3px 0 hsl(224, 28%, 35%) !important;
}

.clear.theme-1 {
  background-color: hsl(225, 21%, 49%) !important;
  color: hsl(0, 0%, 90%) !important;
  box-shadow: 0 3px 3px 0 hsl(224, 28%, 35%) !important;
}

.equals.theme-1 {
  background-color: hsl(6, 63%, 50%) !important;
  color: hsl(0, 0%, 90%) !important;
  box-shadow: 0 3px 3px 0 hsl(6, 70%, 34%) !important;
}

/* Switching of theme 2 */

body.theme-2 {
  background-color: hsl(222, 26%, 31%);
}

.calc-body.theme-2 {
  background-color: hsl(0, 0%, 90%);
  transition: all 0.5s;
}

.switch-field.theme-2 {
  background-color: hsl(0, 5%, 81%) !important;
}

.buttons.theme-2 {
  background-color: hsl(0, 5%, 81%);
}

.button.theme-2 {
  background-color: hsl(0, 0%, 90%);
  color: hsl(60, 10%, 19%) !important;
  box-shadow: 0 3px 3px 0 hsla(30, 4%, 35%, 1) !important;
}

.display.theme-2 {
  background-color: hsl(0, 0%, 75%) !important;
  color: hsl(60, 10%, 19%) !important;
}

.theme-button.theme-2 {
  color: hsl(60, 10%, 19%) !important;
  background-color: transparent;
}

.head-p.theme-2 {
  color: hsl(60, 10%, 19%) !important;
}

.selector-span.theme-2 {
  color: hsl(60, 10%, 19%) !important;
}

.delete.theme-2 {
  background-color: hsl(185, 42%, 37%) !important;
  color: hsl(0, 0%, 90%) !important;
  box-shadow: 0 3px 3px 0 hsl(185, 58%, 25%) !important;
}

.clear.theme-2 {
  background-color: hsl(185, 42%, 37%) !important;
  color: hsl(0, 0%, 90%) !important;
  box-shadow: 0 3px 3px 0 hsl(185, 58%, 25%) !important;
}

.equals.theme-2 {
  background-color: hsl(25, 99%, 27%) !important;
  color: hsl(0, 0%, 90%) !important;
  box-shadow: 0 3px 3px 0 hsl(25, 99%, 27%) !important;
}

/* Switching of theme 3 */

.calc-body.theme-3 {
  background-color: hsl(268, 75%, 9%) !important;
  transition: all 0.5s;
}

.display.theme-3 {
  background-color: hsl(268, 71%, 12%);
  color: hsl(52, 100%, 62%) !important;
}

.switch-field.theme-3 {
  background-color: hsl(223, 31%, 20%) !important;
}

.theme-button.theme-3 {
  color: hsl(52, 100%, 62%) !important;
}

.head-p.theme-3 {
  color: hsl(52, 100%, 62%) !important;
}

.selector-span.theme-3 {
  color: hsl(52, 100%, 62%) !important;
}

.theme-indicator.theme-3 {
  background-color: hsl(176, 100%, 44%) !important;
}

.button.theme-3 {
  background-color: hsl(281, 89%, 26%) !important;
  color: hsl(52, 100%, 62%);
  box-shadow: 0 3px 3px 0 hsl(290, 70%, 36%) !important;
}

.delete.theme-3 {
  color: hsl(0, 0%, 90%) !important;
  box-shadow: 0 3px 3px 0 hsl(285, 91%, 52%) !important;
}

.clear.theme-3 {
  color: hsl(0, 0%, 90%) !important;
  background-color: hsl(268, 47%, 21%);
}

.equals.theme-3 {
  background-color: hsl(176, 100%, 44%) !important;
  color: hsl(60, 10%, 19%);
  box-shadow: 0 3px 3px 0 hsl(177, 92%, 70%) !important;
}

/* Switching of theme indicator button */

.theme-indicator.pos-1 {
  transform: translateX(0px);
  transition: all 0.5s;
}

.theme-indicator.pos-2 {
  transform: translateX(25px);
  transition: all 0.5s;
}

.theme-indicator.pos-3 {
  transform: translateX(45px);
  transition: all 0.5s;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.buttons.active {
  background-color: red;
}

.attribution a {
  font-size: 10px;
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  display: inline-block;
}

@media only screen and (min-width: 376px) and (max-width: 468px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: hsl(0, 0%, 90%);
    overflow-x: hidden;
  }

  .main {
    height: auto;
    width: auto;
    margin: 0 10px;
  }

  .calc-body {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: hsl(222, 26%, 31%);
  }

  .calc-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: self-end;
  }

  .selector {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 15px;
  }

  .switch {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
  }

  .button-field {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .switch-field {
    background-color: hsl(223, 31%, 20%);
    height: 30px;
    border-radius: 15px;
    width: 85px;
  }

  .selector-span {
    color: hsl(0, 0%, 90%);
    font-size: 15px;
    font-weight: 750;
  }

  .head-p {
    font-size: 20px;
    color: hsl(0, 0%, 90%);
    font-weight: 750;
  }

  #display {
    grid-column: 1 / -1;
    padding: 10px;
    font-size: 30px;
    text-align: right;
    border: none;
    border-radius: 10px;
    height: 110px;
    width: 100%;
    background-color: hsl(224, 36%, 15%);
    color: hsl(0, 0%, 90%);
    border-radius: 8px;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    place-content: center;
    place-items: center;
    gap: 15px;
    background-color: hsl(223, 31%, 20%);
    height: 390px;
    width: 100%;
    border-radius: 8px;
  }

  button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    height: 60px;
    width: 65px;
    font-size: 17px;
    color: hsl(224, 28%, 35%);
    font-weight: 800;
    border: none;
  }

  .delete {
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 90%);
    border: none;
    outline: none;
  }

  .clear {
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 90%);
    width: 120px;
    grid-column: span 2;
    border: none;
    outline: none;
    width: 120px;
  }

  .equals {
    background-color: hsl(6, 63%, 50%);
    color: hsl(0, 0%, 90%);
    width: 170px;
    grid-column: span 2;
    border: none;
    outline: none;
    width: 120px;
  }

  .theme-button {
    height: 10px;
    width: 10px;
    border: none;
    font-size: 13px;
    color: hsl(0, 0%, 90%);
    background-color: transparent;
  }

  .theme-indicator {
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 40px;
    left: 11px;
    height: 15px;
    width: 15px;
    background-color: hsl(6, 63%, 50%);
  }

  /* Switching of themes */

  /* Switching of theme 1 */

  .calc-body.theme-1 {
    background-color: hsl(222, 26%, 31%);
    transition: all 0.5s;
  }

  .switch-field.theme-1 {
    background-color: hsl(223, 31%, 20%);
  }

  .buttons.theme-1 {
    background-color: hsl(223, 31%, 20%);
  }

  .button.theme-1 {
    background-color: hsl(0, 0%, 90%);
    color: hsl(225, 21%, 49%) !important;
    box-shadow: 0 3px 3px 0 hsl(28, 16%, 65%) !important;
  }

  .display.theme-1 {
    background-color: hsl(224, 36%, 15%);
    color: hsl(0, 0%, 90%);
  }

  .theme-button.theme-1 {
    color: hsl(0, 0%, 90%);
  }

  .head-p.theme-1 {
    color: hsl(0, 0%, 90%);
  }

  .selector-span.theme-1 {
    color: hsl(0, 0%, 90%);
  }

  .delete.theme-1 {
    background-color: hsl(225, 21%, 49%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(224, 28%, 35%) !important;
  }

  .clear.theme-1 {
    background-color: hsl(225, 21%, 49%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(224, 28%, 35%) !important;
  }

  .equals.theme-1 {
    background-color: hsl(6, 63%, 50%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(6, 70%, 34%) !important;
  }

  /* Switching of theme 2 */

  body.theme-2 {
    background-color: hsl(222, 26%, 31%);
  }

  .calc-body.theme-2 {
    background-color: hsl(0, 0%, 90%);
    transition: all 0.5s;
  }

  .switch-field.theme-2 {
    background-color: hsl(0, 5%, 81%) !important;
  }

  .buttons.theme-2 {
    background-color: hsl(0, 5%, 81%);
  }

  .button.theme-2 {
    background-color: hsl(0, 0%, 90%);
    color: hsl(60, 10%, 19%) !important;
    box-shadow: 0 3px 3px 0 hsla(30, 4%, 35%, 1) !important;
  }

  .display.theme-2 {
    background-color: hsl(0, 0%, 75%) !important;
    color: hsl(60, 10%, 19%) !important;
  }

  .theme-button.theme-2 {
    color: hsl(60, 10%, 19%) !important;
    background-color: transparent;
  }

  .head-p.theme-2 {
    color: hsl(60, 10%, 19%) !important;
  }

  .selector-span.theme-2 {
    color: hsl(60, 10%, 19%) !important;
  }

  .delete.theme-2 {
    background-color: hsl(185, 42%, 37%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(185, 58%, 25%) !important;
  }

  .clear.theme-2 {
    background-color: hsl(185, 42%, 37%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(185, 58%, 25%) !important;
  }

  .equals.theme-2 {
    background-color: hsl(25, 99%, 27%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(25, 99%, 27%) !important;
  }

  /* Switching of theme 3 */

  .calc-body.theme-3 {
    background-color: hsl(268, 75%, 9%) !important;
    transition: all 0.5s;
  }

  .display.theme-3 {
    background-color: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%) !important;
  }

  .switch-field.theme-3 {
    background-color: hsl(223, 31%, 20%) !important;
  }

  .theme-button.theme-3 {
    color: hsl(52, 100%, 62%) !important;
  }

  .head-p.theme-3 {
    color: hsl(52, 100%, 62%) !important;
  }

  .selector-span.theme-3 {
    color: hsl(52, 100%, 62%) !important;
  }

  .theme-indicator.theme-3 {
    background-color: hsl(176, 100%, 44%) !important;
  }

  .button.theme-3 {
    background-color: hsl(281, 89%, 26%) !important;
    color: hsl(52, 100%, 62%);
    box-shadow: 0 3px 3px 0 hsl(290, 70%, 36%) !important;
  }

  .delete.theme-3 {
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(285, 91%, 52%) !important;
  }

  .clear.theme-3 {
    color: hsl(0, 0%, 90%) !important;
    background-color: hsl(268, 47%, 21%);
  }

  .equals.theme-3 {
    background-color: hsl(176, 100%, 44%) !important;
    color: hsl(60, 10%, 19%);
    box-shadow: 0 3px 3px 0 hsl(177, 92%, 70%) !important;
  }

  /* Switching of theme indicator button */

  .theme-indicator.pos-1 {
    transform: translateX(0px);
    transition: all 0.5s;
  }

  .theme-indicator.pos-2 {
    transform: translateX(25px);
    transition: all 0.5s;
  }

  .theme-indicator.pos-3 {
    transform: translateX(45px);
    transition: all 0.5s;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .buttons.active {
    background-color: red;
  }

  .attribution a {
    font-size: 10px;
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }
}

@media only screen and (max-width: 375px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: hsl(0, 0%, 90%);
    overflow-x: hidden;
  }

  .main {
    height: auto;
    width: auto;
    margin: 0 10px;
  }

  .calc-body {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: hsl(222, 26%, 31%);
  }

  .calc-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: self-end;
  }

  .selector {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 15px;
  }

  .switch {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
  }

  .button-field {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .switch-field {
    background-color: hsl(223, 31%, 20%);
    height: 30px;
    border-radius: 15px;
    width: 85px;
  }

  .selector-span {
    color: hsl(0, 0%, 90%);
    font-size: 15px;
    font-weight: 750;
  }

  .head-p {
    font-size: 20px;
    color: hsl(0, 0%, 90%);
    font-weight: 750;
  }

  #display {
    grid-column: 1 / -1;
    padding: 10px;
    font-size: 30px;
    text-align: right;
    border: none;
    border-radius: 10px;
    height: 100px;
    width: 100%;
    background-color: hsl(224, 36%, 15%);
    color: hsl(0, 0%, 90%);
    border-radius: 8px;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    place-content: center;
    place-items: center;
    gap: 10px;
    background-color: hsl(223, 31%, 20%);
    height: 340px;
    width: 100%;
    border-radius: 8px;
  }

  button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    height: 50px;
    width: 50px;
    font-size: 17px;
    color: hsl(224, 28%, 35%);
    font-weight: 800;
    border: none;
    outline: none;
  }

  .delete {
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 90%);
    border: none;
    outline: none;
  }

  .clear {
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 90%);
    width: 120px;
    grid-column: span 2;
    border: none;
    outline: none;
    width: 120px;
  }

  .equals {
    background-color: hsl(6, 63%, 50%);
    color: hsl(0, 0%, 90%);
    width: 170px;
    grid-column: span 2;
    border: none;
    outline: none;
    width: 120px;
  }

  .theme-button {
    height: 10px;
    width: 10px;
    border: none;
    font-size: 13px;
    color: hsl(0, 0%, 90%);
    background-color: transparent;
  }

  .theme-indicator {
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 40px;
    left: 11px;
    height: 15px;
    width: 15px;
    background-color: hsl(6, 63%, 50%);
  }

  /* Switching of themes */

  /* Switching of theme 1 */

  .calc-body.theme-1 {
    background-color: hsl(222, 26%, 31%);
    transition: all 0.5s;
  }

  .switch-field.theme-1 {
    background-color: hsl(223, 31%, 20%);
  }

  .buttons.theme-1 {
    background-color: hsl(223, 31%, 20%);
  }

  .button.theme-1 {
    background-color: hsl(0, 0%, 90%);
    color: hsl(225, 21%, 49%) !important;
    box-shadow: 0 3px 3px 0 hsl(28, 16%, 65%) !important;
  }

  .display.theme-1 {
    background-color: hsl(224, 36%, 15%);
    color: hsl(0, 0%, 90%);
  }

  .theme-button.theme-1 {
    color: hsl(0, 0%, 90%);
  }

  .head-p.theme-1 {
    color: hsl(0, 0%, 90%);
  }

  .selector-span.theme-1 {
    color: hsl(0, 0%, 90%);
  }

  .delete.theme-1 {
    background-color: hsl(225, 21%, 49%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(224, 28%, 35%) !important;
  }

  .clear.theme-1 {
    background-color: hsl(225, 21%, 49%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(224, 28%, 35%) !important;
  }

  .equals.theme-1 {
    background-color: hsl(6, 63%, 50%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(6, 70%, 34%) !important;
  }

  /* Switching of theme 2 */

  body.theme-2 {
    background-color: hsl(222, 26%, 31%);
  }

  .calc-body.theme-2 {
    background-color: hsl(0, 0%, 90%);
    transition: all 0.5s;
  }

  .switch-field.theme-2 {
    background-color: hsl(0, 5%, 81%) !important;
  }

  .buttons.theme-2 {
    background-color: hsl(0, 5%, 81%);
  }

  .button.theme-2 {
    background-color: hsl(0, 0%, 90%);
    color: hsl(60, 10%, 19%) !important;
    box-shadow: 0 3px 3px 0 hsla(30, 4%, 35%, 1) !important;
  }

  .display.theme-2 {
    background-color: hsl(0, 0%, 75%) !important;
    color: hsl(60, 10%, 19%) !important;
  }

  .theme-button.theme-2 {
    color: hsl(60, 10%, 19%) !important;
    background-color: transparent;
  }

  .head-p.theme-2 {
    color: hsl(60, 10%, 19%) !important;
  }

  .selector-span.theme-2 {
    color: hsl(60, 10%, 19%) !important;
  }

  .delete.theme-2 {
    background-color: hsl(185, 42%, 37%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(185, 58%, 25%) !important;
  }

  .clear.theme-2 {
    background-color: hsl(185, 42%, 37%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(185, 58%, 25%) !important;
  }

  .equals.theme-2 {
    background-color: hsl(25, 99%, 27%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(25, 99%, 27%) !important;
  }

  /* Switching of theme 3 */

  .calc-body.theme-3 {
    background-color: hsl(268, 75%, 9%) !important;
    transition: all 0.5s;
  }

  .display.theme-3 {
    background-color: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%) !important;
  }

  .switch-field.theme-3 {
    background-color: hsl(223, 31%, 20%) !important;
  }

  .theme-button.theme-3 {
    color: hsl(52, 100%, 62%) !important;
  }

  .head-p.theme-3 {
    color: hsl(52, 100%, 62%) !important;
  }

  .selector-span.theme-3 {
    color: hsl(52, 100%, 62%) !important;
  }

  .theme-indicator.theme-3 {
    background-color: hsl(176, 100%, 44%) !important;
  }

  .button.theme-3 {
    background-color: hsl(281, 89%, 26%) !important;
    color: hsl(52, 100%, 62%);
    box-shadow: 0 3px 3px 0 hsl(290, 70%, 36%) !important;
  }

  .delete.theme-3 {
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(285, 91%, 52%) !important;
  }

  .clear.theme-3 {
    color: hsl(0, 0%, 90%) !important;
    background-color: hsl(268, 47%, 21%);
  }

  .equals.theme-3 {
    background-color: hsl(176, 100%, 44%) !important;
    color: hsl(60, 10%, 19%);
    box-shadow: 0 3px 3px 0 hsl(177, 92%, 70%) !important;
  }

  /* Switching of theme indicator button */

  .theme-indicator.pos-1 {
    transform: translateX(0px);
    transition: all 0.5s;
  }

  .theme-indicator.pos-2 {
    transform: translateX(25px);
    transition: all 0.5s;
  }

  .theme-indicator.pos-3 {
    transform: translateX(45px);
    transition: all 0.5s;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .buttons.active {
    background-color: red;
  }

  .attribution a {
    font-size: 10px;
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }
}

@media (orientation: landscape) and (max-width: 950px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: hsl(0, 0%, 90%);
    overflow-x: hidden;
  }

  .main {
    height: auto;
    width: auto;
    margin: 0 10px;
  }

  .calc-body {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: hsl(222, 26%, 31%);
  }

  .calc-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: self-end;
  }

  .selector {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 15px;
  }

  .switch {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
  }

  .button-field {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .switch-field {
    background-color: hsl(223, 31%, 20%);
    height: 30px;
    border-radius: 15px;
    width: 85px;
  }

  .selector-span {
    color: hsl(0, 0%, 90%);
    font-size: 15px;
    font-weight: 750;
  }

  .head-p {
    font-size: 20px;
    color: hsl(0, 0%, 90%);
    font-weight: 750;
  }

  #display {
    grid-column: 1 / -1;
    padding: 10px;
    font-size: 30px;
    text-align: right;
    border: none;
    border-radius: 10px;
    height: 120px;
    width: 100%;
    background-color: hsl(224, 36%, 15%);
    color: hsl(0, 0%, 90%);
    border-radius: 8px;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    place-content: center;
    place-items: center;
    gap: 15px;
    background-color: hsl(223, 31%, 20%);
    height: 430px;
    width: 100%;
    border-radius: 8px;
  }

  button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    height: 62px;
    width: 57px;
    font-size: 20px;
    color: hsl(224, 28%, 35%);
    font-weight: 800;
    border: none;
    outline: none;
  }

  .delete {
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 90%);
    border: none;
    outline: none;
  }

  .clear {
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 90%);
    width: 120px;
    grid-column: span 2;
    border: none;
    outline: none;
    width: 120px;
  }

  .equals {
    background-color: hsl(6, 63%, 50%);
    color: hsl(0, 0%, 90%);
    width: 170px;
    grid-column: span 2;
    border: none;
    outline: none;
    width: 120px;
  }

  .theme-button {
    height: 10px;
    width: 10px;
    border: none;
    font-size: 13px;
    color: hsl(0, 0%, 90%);
    background-color: transparent;
  }

  .theme-indicator {
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 40px;
    left: 11px;
    height: 15px;
    width: 15px;
    background-color: hsl(6, 63%, 50%);
  }

  /* Switching of themes */

  /* Switching of theme 1 */

  .calc-body.theme-1 {
    background-color: hsl(222, 26%, 31%);
    transition: all 0.5s;
  }

  .switch-field.theme-1 {
    background-color: hsl(223, 31%, 20%);
  }

  .buttons.theme-1 {
    background-color: hsl(223, 31%, 20%);
  }

  .button.theme-1 {
    background-color: hsl(0, 0%, 90%);
    color: hsl(225, 21%, 49%) !important;
    box-shadow: 0 3px 3px 0 hsl(28, 16%, 65%) !important;
  }

  .display.theme-1 {
    background-color: hsl(224, 36%, 15%);
    color: hsl(0, 0%, 90%);
  }

  .theme-button.theme-1 {
    color: hsl(0, 0%, 90%);
  }

  .head-p.theme-1 {
    color: hsl(0, 0%, 90%);
  }

  .selector-span.theme-1 {
    color: hsl(0, 0%, 90%);
  }

  .delete.theme-1 {
    background-color: hsl(225, 21%, 49%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(224, 28%, 35%) !important;
  }

  .clear.theme-1 {
    background-color: hsl(225, 21%, 49%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(224, 28%, 35%) !important;
  }

  .equals.theme-1 {
    background-color: hsl(6, 63%, 50%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(6, 70%, 34%) !important;
  }

  /* Switching of theme 2 */

  body.theme-2 {
    background-color: hsl(222, 26%, 31%);
  }

  .calc-body.theme-2 {
    background-color: hsl(0, 0%, 90%);
    transition: all 0.5s;
  }

  .switch-field.theme-2 {
    background-color: hsl(0, 5%, 81%) !important;
  }

  .buttons.theme-2 {
    background-color: hsl(0, 5%, 81%);
  }

  .button.theme-2 {
    background-color: hsl(0, 0%, 90%);
    color: hsl(60, 10%, 19%) !important;
    box-shadow: 0 3px 3px 0 hsla(30, 4%, 35%, 1) !important;
  }

  .display.theme-2 {
    background-color: hsl(0, 0%, 75%) !important;
    color: hsl(60, 10%, 19%) !important;
  }

  .theme-button.theme-2 {
    color: hsl(60, 10%, 19%) !important;
    background-color: transparent;
  }

  .head-p.theme-2 {
    color: hsl(60, 10%, 19%) !important;
  }

  .selector-span.theme-2 {
    color: hsl(60, 10%, 19%) !important;
  }

  .delete.theme-2 {
    background-color: hsl(185, 42%, 37%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(185, 58%, 25%) !important;
  }

  .clear.theme-2 {
    background-color: hsl(185, 42%, 37%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(185, 58%, 25%) !important;
  }

  .equals.theme-2 {
    background-color: hsl(25, 99%, 27%) !important;
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(25, 99%, 27%) !important;
  }

  /* Switching of theme 3 */

  .calc-body.theme-3 {
    background-color: hsl(268, 75%, 9%) !important;
    transition: all 0.5s;
  }

  .display.theme-3 {
    background-color: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%) !important;
  }

  .switch-field.theme-3 {
    background-color: hsl(223, 31%, 20%) !important;
  }

  .theme-button.theme-3 {
    color: hsl(52, 100%, 62%) !important;
  }

  .head-p.theme-3 {
    color: hsl(52, 100%, 62%) !important;
  }

  .selector-span.theme-3 {
    color: hsl(52, 100%, 62%) !important;
  }

  .theme-indicator.theme-3 {
    background-color: hsl(176, 100%, 44%) !important;
  }

  .button.theme-3 {
    background-color: hsl(281, 89%, 26%) !important;
    color: hsl(52, 100%, 62%);
    box-shadow: 0 3px 3px 0 hsl(290, 70%, 36%) !important;
  }

  .delete.theme-3 {
    color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 3px 3px 0 hsl(285, 91%, 52%) !important;
  }

  .clear.theme-3 {
    color: hsl(0, 0%, 90%) !important;
    background-color: hsl(268, 47%, 21%);
  }

  .equals.theme-3 {
    background-color: hsl(176, 100%, 44%) !important;
    color: hsl(60, 10%, 19%);
    box-shadow: 0 3px 3px 0 hsl(177, 92%, 70%) !important;
  }

  /* Switching of theme indicator button */

  .theme-indicator.pos-1 {
    transform: translateX(0px);
    transition: all 0.5s;
  }

  .theme-indicator.pos-2 {
    transform: translateX(25px);
    transition: all 0.5s;
  }

  .theme-indicator.pos-3 {
    transform: translateX(45px);
    transition: all 0.5s;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .buttons.active {
    background-color: red;
  }

  .attribution a {
    font-size: 10px;
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }
}
